* {
    box-sizing: border-box;
}

body {
    background: #dedede;
}

.contact-form-modal {
    width: 800px;
    background: #fff;
    position: absolute;
    margin: 100px calc(50% - 400px);
    padding: 90px 70px;
    box-shadow: 0px 0px 30px 0px #bbb;
    font-family: "Helvetica", sans-serif;
}

.contact-form-icon {
    background: #fff url("./letter.png") center no-repeat;
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: -50px;
    border-radius: 50px;
    border: 1px solid #dedede;
}

.contact-form-title {
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-form-input-modal {
    display: flex;
    justify-content: space-between;
}

.input-default {
    border-radius: 2px;
    border: 1px solid #dedede;
    padding: 20px;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-form-input-text {
    height: 60px;
    font-size: 20px;
    display: flex;
    width: 320px;
}

.contact-form-input-textarea {
    height: 200px;
    width: 660px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-form-button-modal {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-form-button {
    height: 50px;
    width: 100px;
    font-size: 18px;
    background: #fc4d5e;
    color: #fff;
    border-radius: 2px;
    border: 1px solid;
}

.input-default:focus {
    border-color: #fc4d5e;
}

.contact-form-button:hover,
.contact-form-button:active {
    background-color: #333;
}